<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gus Diaz's API</title>
    <link rel="shortcut icon" href="../static/jisho.png" />
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Hello! Welcome to my AWS Apache2 API Server!</h1>
    <p>In the url 'https://api.gus-diaz.com/jisho/<b>target</b>' add your target word.</p>
    <br>
    <p>Examples:</p>
    <p>https://api.gus-diaz.com/jisho/cat</p>
    <p>https://api.gus-diaz.com/jisho/neko</p>
    <p>https://api.gus-diaz.com/jisho/ねこ</p>
    <p>https://api.gus-diaz.com/jisho/猫</p>
    <br>
    <b><a style="color: #3CAEA3" href="https://www.gus-diaz.com/" target="_blank">My personal website</a></b>
</body>
</html>